<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
		<link rel="stylesheet" href="../static/style.css" />
		<title>Online Examiner</title>
	</head>
	<body>
		<div class="container">
			<div class="welcome">
				<h3> Create Account </h3>
			</div>
			<form action="/createstudentaccount" method="POST">
				<div class="form-group">
					<input type="submit" value="Student"> 
				</div>
			</form>
			<form action="/createteacheraccount" method="POST">
				<div class="form-group">
					<input type="submit" value="Teacher"> 
				</div>
			</form>
			<div class="home">
                <a href="{{url_for('index')}}">Home</a>
            </div>
		</div>
	</body>
</html>